.contenedor{
    width: 100%;
    max-width: 1400px;
}
.body{
    background-color: #0b1325;
}
.navbar-brand{
    color: #fff;
    font-weight: 700;
}
.navbar-brand:hover{
    color: #fff;
    font-weight: 700;
}
.item_nav{
    color: #919191;
}
.item_nav:hover{
    color: #fff;
    border-bottom: 3px solid #E87735;
}
.borde{
    box-shadow: 0 1px 3px rgba(39, 39, 39, 0.253);
}
.caja{
    background: #121e3b;
    padding: 13px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(39, 39, 39, 0.253);
}
.iniciales{
    background-color: #5a2012;
    width: 36px;
    height: 36px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #df7354;
    font-size: 20px;
}
.boton{
    background-color: #131e32;
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 50px;
    border: 1px solid #1c2a44;
    color: #919191;
    transition: 0.3s;
}
.boton:hover{
    background-color: #1a2842;
    color: #fff;
}
.boton.active{
    background-color: #e05328 !important; 
    color: #ffffff !important;
    border-color: #e05328 !important;
}
.card{
    background-color: #131e32;
    border:1px solid #1c2a44;
    color: #fff;
}
.card:hover{
    border:1px solid #e05328;
    transition: 0.3s;
}
.card:hover .card-text{
    color: #e05328;
    transition: 0.3s;
}
.card-text{
    font-size: 20px;
}

.card-subtitle{
    color: #919191;
}
.duracion{
    color: #919191;
}