.contenedor{
    width: 100%;
    max-width: 1400px;
}
.body{
    background-color: #0b1325;
}

.caja{
    background: #121e3b;
    padding: 13px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(39, 39, 39, 0.253);

}


.boton{
    background-color: #131e32;
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 50px;
    border: 1px solid #1c2a44;
    color: #919191;
    transition: 0.3s;
}

.boton:hover{
    background-color: #1a2842;
    color: #fff;
}
.boton.active{
    background: linear-gradient(to right, #64a7b1, #02b3ff, #0062ff) !important; 
    color: #ffffff !important;
    border: 3px solid #23304A !important;
}
.card{
    background-color: #131e32;
    border:1px solid #1c2a44;
    color: #fff;
}
.card:hover{
    border:1px solid #02b3ff;
    transition: 0.3s;
}
.card:hover .card-text{
    color: #02b3ff;
    transition: 0.3s;
}
.card-text{
    font-size: 20px;
}

.card-subtitle{
    color: #919191;
}
.duracion{
    color: #919191;
}

.row.g-4 .col-lg-4 {
    display: flex;
}

.row.g-4 .card {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.row.g-4 .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}